@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

* {
    font-family: 'Rammetto One', sans-serif;
}

body {
    background-color: #feca57;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    background-color: #feca57;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.ContainAnswers {
    width:100%;
    text-transform: uppercase;
}

.max-btn {
    max-width: 500px;
    margin: 10px 0px;
}

.max-btn:first-child {
    margin-top: 40px;
}

.image--guess {
    margin:10px 0px;
    box-shadow: 0px 0px 23px rgba(11,11,11,1)
}

.heart--container {
    color:red;
    position: absolute;
    top:0;
    right:0;
    font-size:2rem;
}

.points {
  position: absolute;
  top: 0px;
  opacity: 0.8;
  left: 10px;
  font-size:1.4rem;
  color: #fff;
}

.red-heart {
    text-shadow: 0px 0px 9px rgba(11,11,11,0.6);
}

.timeline {
    width: 100%;
    background-color:#007bff;
    height:3vh;
    position: fixed;
    bottom: 0;
    left: 0;
    /*transition: width 2000ms;
    animation-delay: 2000ms;*/
}
